#section1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.u-avatar{
    width:350px;
}

.u-name{
    font-family: "Montserrat";
    font-size:60px;
    color:#fcfcfc;
    margin-top:30px;
    margin-bottom: 5px;
}

.u-role{
    font-family: "Montserrat";
    font-size:18px;
    font-weight: 100;
    color:#fcfcfc;
    margin-bottom:25px;
}

.u-bio{
    margin-bottom: 40px;
    width:330px;
    text-align: center;
    font-family: "Montserrat";
    font-size:16px;
    line-height: 18px;
}

button{
    width:130px;
    height:40px;
    margin-right:20px;
    background:none;
    cursor:pointer;
    font-size:16px;
    font-weight:300;
    border: 2px solid gold;
    color: gold;
    transition: background-color 0.7s ease-in-out;
}

button:hover{
    background-color:gold;
    color:#fcfcfc;
}